.front-windows {
  width: 100%;
  height: 700px;
  margin: 0;
  /*border: 3px solid #c3ffbb;*/
  background-color: #edffed;
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 50;
  position: relative;
}


.front-window-font {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(34, 34, 34);
  max-width: 500px;
  height: 200px;
  position: relative;
  left:200px;
  top:90px;
  text-align: left;
}

.sponsor-images {
  display:inline-block;
  margin-left:auto;
  margin-right: auto;
  margin-top:30px;
  margin-bottom: 30px;
}

.sponsor-logo {
  height: 150px;
  width: 150px;
  padding: 10px;
  object-fit: contain;
  margin:0 100px 0 100px;
  position: relative;
  float: left;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.sponsor {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-wide-size {
  width: 40%;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  max-width: 600px;
  height: 150px;
  position: relative;
  top:60px;
  left:200px;
  text-align: left;
}

.partneri {
  position: relative;
  top:50px;
}

h2 {
  font-size: 34px;
}

.regularButton {
  width:200px;
  height:60px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 30px;
  border:2px solid black;
  color:black;
  background-color: #edffed;
  margin-right:60px;
  float:left;
  transition: 0.4s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);       /*Nisam siguran koliko shadow paše, mozda malo smanjiti*/
  line-height: 55px;
  text-decoration: none;

}

.regularButton:hover {
  background-color: #bcffbc;
}

.greenButton {
  width:200px;
  height:60px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 30px;
  border:2px solid #379f48;
  color:white;
  background-color: #379f48;
  margin-right:60px;
  float:left;
  transition: 0.4s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);                 /*Nisam siguran koliko shadow paše, mozda malo smanjiti*/
  user-select: none;
  line-height: 55px;
  text-decoration: none;
}

.greenButton:hover {
  color:black;
  background-color: #37ce50;
  border-color: #37ce50;
}

.eventButtons {
  position: absolute;
  top:490px;
  left:220px;
  display:inline-block;
}

#SecondHeading {
  position: relative;
  top:100px;
}

.aboutEasyAid {
  display: flex;
  height:730px;
  width:100%;
  position: relative;
  top:90px;
}

.fotoGeneral1 {
  width:50vw;
  height:calc(50vw*0.66667);
  position: relative;
  margin:70px 20px 50px 220px;
}

.sideText1 {
  width:300px;
  margin-top: 70px;
  margin-left: 30px;
  text-align: left;
  margin-bottom: 0px;
}

.sideText1 h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
}

.sideText1 p {
  margin-bottom: 70px;
  color:#3D3D3D;
}

#ThirdHeading {
  position:relative;
  top:100px;
}

.aboutOrganisation {
  position: relative;
  display: flex;
  top:100px;
}

.fotoGeneral2 {
  width:30vw;
  height:calc(30vw*1.12);
  position: relative;
  margin:70px 20px 50px 220px;
  background-color:#bcffbc;
  border-radius: 25px;
}

.sideText2 {
  width:400px;
  height:calc(30vw*1.12);
  position: relative;
  margin:70px 20px 50px 200px;
  /*background-color:#bcffbc;*/
  border-radius: 25px;
  text-align:left;
}

.sideText2 h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
}

.sideText2 p {
  margin-bottom: -10px;
  color:#3D3D3D;
}