:root {
  --greenBtn: #379f48;
  --gray: #303030;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  max-width: 85%;
  text-align: left;
}

.front-windows {
  background-color: #edffed;
  min-height: 600px;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 15%;
}

.content h1 {
  width: fit-content;
  max-width: 600px;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  margin: 104px 0 32px;
}

.content p {
  width: fit-content;
  max-width: 480px;
  font-weight: 300;
  line-height: 21px;
  font-size: 18px;
}

.event-buttons {
  margin: 36px 0;
}

.link-btn {
  text-align: center;
  width: 180px;
  height: 56px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 50px;
  border: none;
  margin: 0 56px 20px 0;
  float: left;
  transition: 0.4s ease;
  user-select: none;
  line-height: 55px;
  text-decoration: none;
}

.link-btn.green-btn {
  background: var(--greenBtn);
  color: #fff;
}
.link-btn.green-btn:hover {
  transition: 0.4s ease;
  background-color: #2cd849;
  color: var(--gray);
  font-weight: bold;
}

.link-btn.regular-btn {
  border: 2px solid var(--gray);
  color: var(--gray);
}

.link-btn.regular-btn:hover {
  transition: 0.4s ease;
  background-color: var(--greenBtn);
  border: 2px solid var(--greenBtn);
  color: #fff;
  font-weight: bold;
}

.headings {
  display: flex;
  justify-content: center;
  margin: 104px 10px;
}

.top-events {
  display: flex;
  justify-content: space-between;
  margin: 0 0 208px;
}

.event-proba {
  margin: 0 10px;
}

.about-easyAid {
  display: flex;
  justify-content: flex-start;
}

.image-container {
  margin: 0 10px;
  width: fit-content;

  .photo1 {
    object-fit: contain;
    width: 100%;
    position: relative;
    height: unset;
    max-height: 380px;
  }
}

.side-text {
  color: var(--gray);
  max-width: 300px;
  width: fit-content;
  margin: 0 20px 0 80px;

  h4 {
    margin: 0 0 24px;
  }

  p {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 24px;
  }

  .green-btn {
    margin: 0;
  }
}

.about-organisation {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 104px;

  .image-container2 {
    width: 300px;
    height: 350px;
    border-radius: 25px;
    background-color: rgba(71, 191, 91, 0.24);
  }

  .side-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--gray);
    max-width: 400px;
    width: fit-content;
    margin: 0 0 0 80px;

    h2 {
      font-size: 24px;
      font-weight: 800;
    }

    .regular-btn {
      margin: 36px 0 0;
    }
  }
}

.partneri {
  margin: 0 0 208px 0;

  hr {
    margin: 0 10px;
  }

  .sponsor-images {
    display: flex;
    justify-content: space-between;

    .sponsor-logo {
      height: 180px;
      width: 180px;
      object-fit: contain;
      position: relative;
      margin: 0 10px;

      .sponsor {
        width: 100%;
        height: unset;
        border-radius: 100%;
      }
    }
  }
}
