:root {
  --greenBtn: #379f48;
}
/*
.front-windows {
  width: 100%;
  height: 700px;
  margin: 0;
  background-color: #edffed;
  padding: 15px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);       
  z-index: 50;
  position: relative;
}

.front-window-font {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(34, 34, 34);
  max-width: 500px;
  height: 200px;
  position: relative;
  left: 200px;
  top: 90px;
  text-align: left;
}

.sponsor-images {
  display: inline-block;
  margin: 30px 20px;
}

.sponsor-logo {
  height: 150px;
  width: 150px;
  padding: 10px;
  object-fit: contain;
  margin: 0 100px 30px 100px;
  position: relative;
  float: left;
}

.sponsor {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-wide-size {
  width: 40%;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  max-width: 600px;
  height: 150px;
  position: relative;
  top: 60px;
  left: 200px;
  text-align: left;
}

.partneri {
  position: relative;
  top: 50px;
}

h2 {
  font-size: 34px;
}

.regularButton {
  text-align: center;
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 30px;
  border: 2px solid black;
  color: black;
  background-color: #edffed;
  margin-right: 60px;
  float: left;
  transition: 0.4s ease;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 


.regularButton:hover {
  background-color: #bcffbc;
}

.greenButton {
  text-align: center;
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 30px;
  border: 2px solid #379f48;
  color: white;
  background-color: #379f48;
  margin-right: 60px;
  float: left;
  transition: 0.4s ease;
  user-select: none;
  line-height: 55px;
  text-decoration: none;
}

.greenButton:hover {
  color: black;
  background-color: #37ce50;
  border-color: #37ce50;
}

.eventButtons {
  position: absolute;
  top: 490px;
  left: 220px;
  display: inline-block;
}


.container{
  margin: 0 132px;
  position: relative;
}

#SecondHeading {
  margin: 96px auto;
}

.aboutEasyAid {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  margin: 128px 0;
}

.fotoGeneral1 img{
  margin-right: 96px;
  width: 500px;
  height: calc(500px *0.6666);
}

.sideText1 {
  width: min-content;
  margin-left: 30px;
  text-align: left;
}

  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 auto 24px;
}

.sideText1 p {
  width: fit-content;
  margin-bottom: 50px;
  line-height: 1.5;
  color: #3d3d3d;
}

#ThirdHeading {
  top: 100px;
}

.aboutOrganisation {
  display: flex;
  justify-content: left;
}

.fotoGeneral2 {
  width: 360px;
  height: 480px;
  position: relative;
  background-color: #bcffbc;
  border-radius: 25px;
}

.sideText2 {
  width: 400px;
  text-align: left;
}


.sideText2 p {
  margin-bottom: -10px;
  color: #3d3d3d;
}

hr {
  width: 75%;
  margin: 150px auto;
}

.topEvents{
  display: flex;
  justify-content: center;
}

.eventProba{
  width: 350px;
  height: 200px;
  margin: 0 32px;
}*/

/*  NOVOO  */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 800px;
  margin: 0 15%;
}

.front-windows {
  background-color: #edffed;
  min-height: 600px;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
  text-align: left;
}

.content h1 {
  width: fit-content;
  max-width: 600px;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  margin: 104px 0 32px;
}

.content p {
  width: fit-content;
  max-width: 480px;
  font-weight: 300;
  line-height: 21px;
  font-size: 18px;
}

.eventButtons {
  margin: 36px 0;
}

.linkBtn {
  text-align: center;
  width: 180px;
  height: 56px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 50px;
  border: none;
  margin: 0 56px 20px 0;
  float: left;
  transition: 0.4s ease;
  user-select: none;
  line-height: 55px;
  text-decoration: none;
}

.linkBtn.greenBtn {
  background: var(--greenBtn);
  color: #fff;
}
.linkBtn.greenBtn:hover {
  transition: 0.4s ease;
  background-color: #2cd849;
  color: #303030;
  font-weight: bold;
}

.linkBtn.regularBtn {
  border: 2px solid #303030;
  color: #303030;
}

.linkBtn.regularBtn:hover {
  transition: 0.4s ease;
  background-color: var(--greenBtn);
  border: 2px solid var(--greenBtn);
  color: #fff;
  font-weight: bold;
}

#SecondHeading {
  margin: 104px 0 0;
}

.topEvents {
  display: flex;
  margin: 104px 0;
}

.sponsor-logo {
  display: none;
}

.front-windows {
}

.sponsor-images {
  display: none;
}
