.front-windows {
  width: 60vw;
  height: 15%;
  border-style: solid;
  margin: auto;
  border: 3px solid #7c7c7c;
  background-color: #7c7c7c;
  border-radius: 10px;
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front-window-font {
  font-size: 20px;
  font-family: Verdana;
  color: rgb(226, 226, 236);
}

.sponsor-logo {
  height: 20vh;
  padding: 10px;
  object-fit: contain;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.logo-wide-size {
  width: 40%;
}
