
#sectionEvents {
    margin: 50px 20px 50px 300px;

    h2 {
        font-size: 18px;
        margin:20px auto 10px auto;
    }
}

.activeEvents {
    width:30%;
    max-width: 600px;
}
.pastEvents {
    width:30%;
    max-width: 600px;
}