.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 100px 0 0 0;
}

.app-name {
  margin: 0 0 30px 0;
  font-size: 44px;
  font-weight: bold;
  font-family: "Roboto", "sans-serif";
  user-select: none;
}

.input-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  .input {
    width: 126px;
  }

  .form-label {
    margin-left: 15px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .input {
    width: 300px;
  }

  .form-label {
    width: 300px;
  }
}

.background-logo {
  position: absolute;
  z-index: -99;
  right: 62vw;
  top: 7vw;
  user-select: none;
}

.form-label {
  text-align: left;
  font-weight: 500;
  margin-top: 0;
}

.input {
  height: 50px;
  font-size: 20px;
  border-style: solid;
  border: 3px solid var(--lightGray);
  border-radius: 10px;
  padding: 0 15px;
  transition: 0.4s ease-in;
  user-select: none;
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: 0.3s ease-out;
}

.input:focus {
  border-color: var(--greenBtn);
  outline: none;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #379f48;
  width: 300px;
  height: 50px;
  margin: 20px 0 0 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: 0.4s ease;
  border-style: none;
}

.login-btn:hover {
  background-color: #0b6e1a;
}

.log-reg-switch {
  margin: 10px 0 0 0;
}

.switch {
  color: #379f48;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  user-select: none;
  transform: 0.4s ease;
  text-decoration: none;
}

.switch:hover {
  color: #37ce50;
}

img {
  user-select: none;
}
