.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 104px 0 200px 0;
  width:100%;
}

.background-logo {
  position: absolute;
  z-index: -99;
  right: 55%;
  top: 10%;
  user-select: none;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.form-label {
  width: 300px;
  text-align: left;
  font-weight: 500;
  margin-top: 0;
}

.input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-style: solid;
  border: 3px solid #7c7c7c;
  border-radius: 10px;
  padding: 0 15px;
  transition: 0.4s ease-in;
  user-select: none;
  
}

.input:focus {
  outline: none;
  border: 3px solid #37ce50;
}

.input-textarea {
  width: 300px;
  font-size: 20px;
  border-style: solid;
  border: 3px solid #7c7c7c;
  border-radius: 10px;
  padding: 15px;
  transition: 0.05s ease-in;
  user-select: none;
  resize: none;
  font-family: "Roboto";
}

.input-textarea:focus {
  transition: 0.08s ease-in;
  outline: none;
  border: 3px solid #37ce50;
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: 0.3s ease-out;
}

.buttons-dodaj {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 50px;
  margin: 0 0 0 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: 0.4s ease;
  border-style: none;
}

.save-btn
 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: 0.4s ease;
  border-style: none;
}

.save-btn {
  background-color: var(--greenBtn);
}

.save-btn:hover {
  background-color: var(--hoverGreen);
}

.cancel-btn {
  background-color: transparent;
  color: var(--greenBtn);
  border: 2px solid var(--greenBtn);
}

.cancel-btn:hover {
  background-color: var(--hoverGreen);
  border-color: var(--hoverGreen);
  color: #fff;
}

.end-event-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: red;
  background-color: #fff;
  border: 2px solid red;
  transition: 0.4s ease;
}

.end-event-btn:hover {
  background-color: red;
  border-color: red;
  color: #fff;
}

.mrgnUp {
  margin-top: 30px;
}