@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

:root {
  --greenBtn: #379f48;
  --lightGray: #7c7c7c;
  --gray: #303030;
  --hoverGray: #4d4d4d;
  --hoverGreen: #0b6e1a;
  --hoverLightGreen: #2cd849;
  --lightGreenBackground: #edffed;
  --navbar: rgb(196, 255, 187);
  --lightGreen: rgb(196, 255, 187);
}

body {
  color: #4d4d4d;
  background: #fff;
  overflow-x: hidden;
  font-family: "Roboto";
  margin: 0;
}

.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: var(--greenBtn);
  border-radius: 50%;
  content: "";
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 50px;
  will-change: transform;
  transition: 1s ease-in-out;
}

.link {
  text-decoration: none;
  color: #4d4d4d;
}

.action-btn {
  min-width: fit-content;
  text-align: center;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 50px;
  border: none;
  transition: 0.4s ease;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
}

.action-btn.green-btn {
  background: var(--greenBtn);
  color: #fff;
  border: 2px solid var(--greenBtn);
}
.action-btn.green-btn:hover {
  transition: 0.4s ease;
  background-color: var(--hoverGreen);
  border-color: var(--hoverGreen);
}

.action-btn.regular-btn {
  border: 2px solid var(--greenBtn);
  background-color: transparent;
  color: var(--greenBtn);
}

.action-btn.regular-btn:hover {
  transition: 0.4s ease;
  background-color: var(--hoverGreen);
  border: 2px solid var(--hoverGreen);
  color: #fff;
  font-weight: bold;
}
