@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --greenBtn: #379f48;
  --lightGray : #7c7c7c;
  --gray: #303030;
  --hoverGreen: #0b6e1a;
  --hoverLightGreen: #2cd849;
  --lightGreenBackground: #edffed;
}

body {
  color: #303030;
  background: #fff;
  overflow-x: hidden;
  font-family: "Roboto";
  margin: 0;
  text-align: center;
}
