@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: #f0f0f0;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-login {
  /*background-color: #282c34;*/

  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*DIO ZA EVENTOVE ˇ  */

.rectangle {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 250px;
  /*background-color: #efefef;*/
  justify-self: center;
  padding: 15px;
  border: 3px solid grey;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*Neam pojma sta koja vrijednost znaci w3schools*/
}

.rectangle-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-div {
  background-color: white;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
}

.bubble-div:hover {
  transition: 0.4s ease;
  background-color: rgb(223, 220, 220);
}

.bubble-div:active {
  transition: 0.2s ease;
  background-color: rgb(117, 127, 173);
}

/*DIO ZA ROUTER ˇ*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 24px;
  /*
  background-color: rgb(17, 67, 124);
  */
  background-color: rgb(241, 126, 105);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navBtn {
  background-color: #7c7c7c;
  margin: 10px 30px;
  padding: 10px 60px;
  width: 70px;
  border-radius: 10px;
  transition: 0.4s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navBtn:hover {
  color: #212121;
  background-color: #548aff;
}

.link {
  text-decoration: none;
  color: #fff;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100vw;
  height: 30vw;
}

.appName {
  margin: 0 0 30px 0;
  font-size: 44px;
  font-weight: bold;
  font-family: "Roboto", "sans-serif";
  user-select: none;
}

.formField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-style: solid;
  border: 3px solid #7c7c7c;
  border-radius: 10px;
  padding: 0 15px;
  transition: 0.4s ease-in;
}

.input:focus {
  outline: none;
  border: 3px solid #548aff;
}

.input:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
  transition: 0.3s ease-out;
}

.loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7c7c7c;
  width: 300px;
  height: 50px;
  margin: 20px 0 0 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: 0.4s ease;
  border-style: none;
}

.loginBtn:hover {
  color: #212121;
  background-color: #548aff;
}

.logRegSwitch {
  margin: 10px 0 0 0;
}

.switch {
  color: #548aff;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  user-select: none;
  transform: 0.4s ease;
  text-decoration: none;
}

.switch:hover {
  color: #2a5ece;
}

.event-name-style {
  text-align: left;
  color: rgb(0, 0, 0);
}

.organiser-style {
  text-align: left;
  color: rgb(0, 0, 0);
}
.router-position {
  top: 0;
  width: 100%;
  z-index: 100;
}

.front-windows {
  width: 60vw;
  height: 15%;
  border-style: solid;
  margin: auto;
  border: 3px solid #7c7c7c;
  background-color: #7c7c7c;
  border-radius: 10px;
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front-window-font {
  font-size: 20px;
  font-family: Verdana;
  color: rgb(226, 226, 236);
}

.sponsor-logo {
  height: 20vh;
  padding: 10px;
  object-fit: contain;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.home-empty {
  height: 20vh;
  width: 100%;
}

/*Logo*/

.logo-color {
  fill: rgb(3, 43, 131);
}

.logo-small-size {
  width: 17%;
}

.logo-wide-size {
  width: 40%;
}
