.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-login {
  /*background-color: #282c34;*/

  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rectangle {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 250px;
  background-color: #efefef;
  justify-self: center;
  text-align: left;
  padding: 15px;
  border: 2px solid grey;
}

.rectangle-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-name-style {
  text-align: left;
}

.organiser-style {
  text-align: left;
}

.login-button {
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: rgb(30, 199, 8);
  color: white;
  border: 2px solid grey;
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
  background-color: rgb(26, 161, 8);
}

.important-text {
  color: beige;
  font-weight: 600;
  font-family: Verdana;
}

.router-position {
  top: 0;
  width: 100%;
  z-index: 100;
}
