.profile-page-content {
  max-width: 1000px;
  width: 100%;
  margin: 104px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.profile-main {
  padding: 54px;

  border-radius: 20px;
  background-color: var(--lightGreenBackground);

  .button-edit {
    background-color: #fff;
    border: 2px solid var(--greenBtn);
    border-radius: 20px;
    padding: 10px 24px;
    color: var(--greenBtn);
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
  }
  .profil-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .profile-image {
    width: 254px;
    height: 254px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    margin-top: 30px;
  }

  .profile-name {
    margin-top: 32px;
  }

  .secondary-info {
    font-style: italic;
    color: #303030;
  }

  .profile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.profile-info {
  text-align: left;
  margin: 0 0px;

  h2 {
    margin: 0 0 0 24px;
  }

  p {
    width: 400px;
    border-radius: 20px;
    background-color: var(--lightGreenBackground);
    padding: 24px;
    line-height: 24px;
    color: #303030;
  }
}

.bottom-actions {
  text-align: left;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.bottom-actions > div {
  height: 100px;
}

.none {
  display: none;
}

@media (max-width: 1024px) {
  .profile-page-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
  }

  .profile-info {
    p {
      width: 240px;
    }
  }

  .bottom-actions {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .profile-page-content {
    width: 80%;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
  }

  .profile-info {
    width: 362px;
    box-sizing: border-box;
    margin-top: 24px;
    p {
      width: 100%;
      box-sizing: border-box;
    }

    h2 {
      margin: 0;
      text-align: center;
    }
  }

  .bottom-actions {
    width: 362px;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .profile-main {
    padding: 24px;
    .profile-image {
      width: 200px;
      height: 200px;
    }
  }

  .profile-info {
    width: 100%;
    box-sizing: border-box;
    margin-top: 24px;
    p {
      width: 100%;
      box-sizing: border-box;
    }

    h2 {
      margin: 0;
      text-align: center;
    }
  }

  .bottom-actions {
    width: 256px;
    text-align: center;
  }
}
