:root {
  --greenBtn: #379f48;
  --gray: #303030;
}

.event {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.event-content {
  width: 1000px;
  height: 600px;
  padding: 20px;
  //border: 2px solid #379f48;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;

  background: rgb(237,255,237);
  background: linear-gradient(180deg, rgba(237,255,237,1) 0%, rgba(237,255,237,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
}

.event-content h2 {
  width: 100%;
  height: 80px;
  text-align: left;
  font-size: 1.25em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.event-content h3 {
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: 1em;
  margin-bottom:10px;
}

.event-side-info {
  width: 20%;
  float: left;
  /*margin: 20px;
  margin-right: 10px;*/
  padding:20px;
  text-align: left;
}

.event-side-info h4 {
  margin-top: 0;
  text-align: left;
  margin-bottom:10px;
}

.event-side-info h5 {
  margin-top: 0;
  text-align: left;
  margin-bottom:30px;
  font-size: 18px;
  color:#379f48
}

.event-header {
  width: 60%;
  float: left;
}

.register-button {
  float: right;
  margin: 10px 10px 10px 10px;
  border: 1px solid #379f48;
  border-radius: 40px;
  background-color: #379f48;
  color: white;
  width: 100px;
  height: 50px;
  min-width: 50px;
  min-height: 30px;
}

.close-button {
  float: right;
  margin: 20px 10px 10px 10px;
  border: 2px solid var(--gray);
  border-radius: 40px;
  background-color: #edffed;
  color: var(--gray);
  width: 100px;
  height: 50px;
  min-width: 50px;
  min-height: 30px;
}

.main-content {
   clear:both;
  background-image: url("/images/mainContentBack1.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height:400px;
}

.main-content > section {
  background-color: rgba(255,255,255,0.8);
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-around;
}

.main-content > section > p {
  width: 600px;
  height: 100%;
  padding:20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 1em;
  clear: both;
}

.main-content > section > div {
  width:200px;
  height:100%;
  text-align:left;
  box-sizing: border-box;
}

.main-content h4 {
  margin-top:20;
  margin-bottom:15px;
}

.main-content ul {
  padding-left:30px;
}

/*Event Bubble*/

.event-button button {
  width: 30%;
  min-width: 600px;
  height: 18%;
  min-height: 300px;
  padding: 0;
  margin: 50px 0 0 0;
  border-radius: 16px;
  border: none;
  transition: 0.2s ease-in-out;
  font-size: 16px;
  background-color: #edffed;
  
  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 255, 0, 0.1);
    transition: 0.3s ease;
    transform: translateY(-4px);
  }

  .event-bubble {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
  }

  .event-bubble-header {
    background-color: #379f48;
    width: 100%;
    height: 90px;
    position: relative;
    border-radius: 16px 16px 0 0;
    border: none;
  }

  .event-bubble-header h2 {
    text-align: left;
    font-size: 1.25rem;
    width: 90%;
    height: 40px;
    margin: 20px 20px auto 20px;
    color:white;
  }

  .event-middle {
    width: 100%;
  }

  .event-bubble h3 {
    float: left;
    text-align: left;
    font-size: 1em;
    width: 60%;
    height: 60px;
    margin: 20px 10px 10px 20px;
  }
  .event-bubble h4 {
    float: left;
    font-size: 1.4;
    width: 30%;
    height: 60px;
    margin: 18px 20px 10px 0px;
    text-align: center;
    font-weight: normal;
  }

  .event-bubble p {
    text-align: left;
    font-size: 1em;
    width: 90%;
    height: 40%;
    min-height: 100px;
    margin: 10px auto 10px 20px;
    padding-bottom: 10px;
  }
}

//main

.event--preview button {
  
  color: var(--gray);
  text-align: left;
  border-radius: 16px;
  background-color: rgba(5, 255, 0, 0.07);
  border: none;
  padding: 0;
  transition: 0.3s ease;
  
  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 255, 0, 0.1);
    transition: 0.3s ease;
    transform: translateY(-4px);
    cursor: pointer;
  }

  .event-bubble {
    max-width: 280px;
    width: fit-content;
    min-height: 280px;
    height: fit-content;
  }

  .event-bubble-header {
    color: #f0f0f0;
    background-color: var(--greenBtn);
    min-height: 72px;
    height: fit-content;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .event-bubble-header h2 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    padding: 24px 32px;
  }

  .event-middle {
    padding: 16px 32px 0;
  }

  .event-bubble p {
    padding: 16px 32px 32px;
    letter-spacing: 0.5px;
    line-height: 130%;
  }
}

// active feed

.event--active-feed button {
  
  color: var(--gray);
  text-align: left;
  border-radius: 16px;
  background-color: rgba(5, 255, 0, 0.07);
  border: none;
  padding: 0;
  transition: 0.3s ease;
  margin-bottom: 30px;;
  
  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 255, 0, 0.1);
    transition: 0.3s ease;
    transform: translateY(-4px);
    cursor: pointer;
  }

  .event-bubble {
    min-width: 280px;
    width:280px;
    min-height: 320px;
    height: fit-content;
  }

  .event-bubble-header {
    color: #f0f0f0;
    background-color: var(--greenBtn);
    min-height: 72px;
    height: fit-content;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .event-bubble-header h2 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    padding: 24px 32px;
  }

  .event-middle {
    padding: 16px 32px 0;
  }

  .event-bubble p {
    padding: 16px 32px 32px;
    letter-spacing: 0.5px;
    line-height: 130%;
  }

}
