:root {
  --greenBtn: #379f48;
  --gray: #303030;
}

h3,
p {
  color: var(--gray);
}

.event {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.event-content {
  width: 1000px;
  height: 600px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;

  background: rgb(237, 255, 237);
  background: linear-gradient(
    180deg,
    rgba(237, 255, 237, 1) 0%,
    rgba(237, 255, 237, 1) 30%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
}

.event-content h2 {
  width: 100%;
  height: 80px;
  text-align: left;
  font-size: 1.25em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.event-content h3 {
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: 1em;
  margin-bottom: 10px;
}

.event-top {
  display: flex;
  justify-content: space-between;
}

.event-side-info {
  text-align: center;
}

.event-side-info h4 {
  margin-top: 20px;
}

aside {
  width: 100px;
  margin-top: 20px;
  text-align: left;
}

aside h4 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 10px;
}

aside h5 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 30px;
  font-size: 18px;
  color: #379f48;
}

.event-header {
  width: 60%;
}

.event-text-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 240px;
  height: fit-content;
}

.register-button {
  margin: 0px 0px;
  border: 2px solid #379f48;
  border-radius: 40px;
  background-color: #379f48;
  color: white;
  width: 100px;
  height: 50px;
  min-width: 50px;
  min-height: 30px;
  transition: 0.4s ease-in;
}

.register-button:hover {
  font-weight: bold;
  background-color: #0b6e1a;
  border-color: #0b6e1a;
  color: white;
  cursor: pointer;
}

.close-button {
  margin: 0px 0px;
  border: 2px solid #379f48;
  border-radius: 40px;
  background-color: #edffed;
  color: #379f48;
  width: 100px;
  height: 50px;
  min-width: 50px;
  min-height: 30px;
  transition: 0.4s ease-in;
}

.close-button:hover {
  font-weight: bold;
  color: white;
  background-color: #0b6e1a;
  border-color: #0b6e1a;
  cursor: pointer;
}

.main-content {
  clear: both;
  height: 300px;
}

.main-content > section {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.main-content > section > article {
  width: 600px;
  height: 400px;
  padding: 0px;
  box-sizing: border-box;
  text-align: left;
  font-size: 1em;
  margin: 0px;
}

.organiser-photo {
  width: 100%;
}

.main-content > section > div {
  width: 310px;
  height: 410px;
  text-align: left;
  box-sizing: border-box;
}

.main-content h4 {
  margin-top: 20;
  margin-bottom: 15px;
}

.main-content ul {
  padding-left: 30px;
}

/*Event Bubble*/

.event-button button {
  width: 500px;
  min-height: 300px;
  padding: 0;
  border-radius: 16px;
  border: none;
  transition: 0.2s ease-in-out;
  font-size: 16px;
  background-color: #edffed;

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 255, 0, 0.1);
    transition: 0.3s ease;
    transform: translateY(-2px);
    cursor: pointer;
  }

  .event-bubble {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
  }

  .event-bubble-header {
    background-color: #379f48;
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 16px 16px 0 0;
    border: none;
    overflow: hidden;
  }

  .event-bubble-header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .event-middle {
    width: 100%;
  }

  .event-middle h2 {
    text-align: left;
    font-size: 1.25rem;
    width: 90%;
    min-height: 24px;
    margin: 20px 20px 10px 20px;
    color: #303030;
    position: relative;
  }

  .event-bubble h3 {
    float: left;
    text-align: left;
    font-size: 1em;
    width: 60%;
    min-height: 24px;
    margin: 5px 10px 5px 20px;
  }
  .event-bubble h4 {
    font-size: 1.4;
    width: 30%;
    min-height: 24px;
    font-weight: normal;
  }

  .event-bubble p {
    text-align: left;
    font-size: 1em;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 60px;
    margin: 0px auto 10px 20px;
  }
}

@media (max-width: 650px) {
  .event-button button {
    .event-bubble h4 {
      float: left;
      width: 80%;
      margin: 5px 20px 10px 20px;
      text-align: left;
    }
  }
}

@media (min-width: 650px) {
  .event-button button {
    .event-bubble h4 {
      float: left;
      margin: 5px 20px 10px 0px;
      text-align: center;
    }
  }
}

//Main

// active feed

.event--active-feed button {
  min-height: 300px;
  color: var(--gray);
  text-align: left;
  border-radius: 16px;
  background-color: rgba(5, 255, 0, 0.07);
  border: none;
  padding: 0;
  transition: 0.3s ease;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 255, 0, 0.1);
    transition: 0.3s ease;
    transform: translateY(-2px);
    cursor: pointer;
  }

  .event-bubble {
    min-width: 500px;
    width: 500px;
    min-height: 300px;
    height: fit-content;
  }

  .event-bubble-header {
    background-color: #379f48;
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 16px 16px 0 0;
    border: none;
    overflow: hidden;
  }

  .event-bubble-header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .event-bubble h3 {
    float: left;
    text-align: left;
    font-size: 1em;
    width: 80%;
    height: 40px;
    margin: 5px 10px 5px 20px;
  }
  .event-bubble h4 {
    font-size: 1.4;
    width: 30%;
    min-height: 24px;
    margin: 5px 20px 10px 0px;
    text-align: center;
    font-weight: normal;
  }

  .event-bubble-header h2 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    padding: 24px 32px;
  }

  .event-middle {
    padding: 16px 32px 0;
    width: 100%;
  }

  .event-bubble p {
    text-align: left;
    font-size: 1em;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    margin: 0px auto 10px 20px;
  }
}

// .days-alert {
//   position: relative;
// }

// .days-alert > h2 {
//   position: absolute;
//   z-index: 100;
//   top: -10px;
//   right: -10px;
//   font-size: 16px;
//   background-color: rgb(225, 97, 22);
//   color: white;
//   margin: 0;
//   height: 38px;
//   width: 150px;
//   text-align: center;
//   padding: 4px;
//   border-radius: 16px;
// }

// .change-alert {
//   position: relative;
// }

// .change-alert > h2 {
//   position: absolute;
//   z-index: 100;
//   top: 40px;
//   right: -10px;
//   font-size: 16px;
//   background-color: rgb(245, 237, 9);
//   color: #303030;
//   margin: 0;
//   height: 22px;
//   width: 150px;
//   text-align: center;
//   padding: 12px 4px 12px 4px;
//   border-radius: 16px;
// }

@media only screen and (max-width: 800px) {
  .event-button {
    width: 80%;
    margin: 0 auto;
  }
  .event-button button {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .event-bubble {
    width: 100%;
  }
}

.link {
  text-decoration: none;
  color: #4d4d4d;
}
