.event--preview button {
  color: var(--gray);
  text-align: left;
  border-radius: 16px;
  background-color: rgba(5, 255, 0, 0.07);
  border: none;
  padding: 0;
  transition: 0.3s ease;

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 255, 0, 0.1);
    transition: 0.3s ease;
    transform: translateY(-2px);
    cursor: pointer;
  }

  .event-bubble-header {
    width: 100%;
    color: #f0f0f0;
    background-color: var(--greenBtn);
    min-height: 180px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
  }

  .event-bubble-header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .event-middle h2 {
    font-size: 16px;
    margin: 0;
    color: #303030;
  }

  .event-middle h4 {
    font-size: 14px;
    margin: 10px 0 0 0;
    color: #303030;
  }

  .event-middle {
    padding: 12px;
  }

  .event-bubble p {
    margin: 0;
    padding: 0 12px;
    letter-spacing: 0.5px;
    line-height: 130%;
    text-overflow: ellipsis;
    overflow-y: auto;
  }
}

@media (min-width: 1120px) {
  .event--preview button {
    .event-bubble {
      width: 280px;
      height: 320px;
    }
  }
}

@media (max-width: 1120px) {
  .event--preview button {
    .event-bubble {
      width: 280px;
      height: 320px;
    }
  }
}

@media screen {
  .event--preview button {
    .event-bubble {
      width: 280px;
      height: 320px;
    }
  }
}
