/* STARO

.rectangle {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 250px;
    background-color: #efefef;
    justify-self: center;
    padding: 15px;
    border: 3px solid grey;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  .rectangle-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bubble-div {
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.4s ease;
  }
  
  .bubble-div:hover {
    transition: 0.4s ease;
    background-color: rgb(238, 255, 237);
    transform: translateY(-3px);
  }
  
  .bubble-div:active {
    transition: 0.2s ease;
    background-color: #baffc6;
  }
  
  .event-name-style {
    text-align: left;
    color: rgb(0, 0, 0);
  }
  
  .organiser-style {
    text-align: left;
    color: rgb(0, 0, 0);
  }
  
  .event-window-info {
    width: 50vw;
    height: 70vh;
    border: 2px solid #379f48 !important;
    border-radius: 15px;
    background-color: #fff;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .event-modal-button {
    position: absolute;
    top: 3%;
    right: 3%;
    height: 5%;
    text-align: center;
    color: white;
    border: 2px #379f48;
    background-color: #379f48;
    margin: 5px 10px;
    padding: 5px 20px;
    border-radius: 10px;
    transition: 0.4s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .event-modal-button:hover {
    color: #212121;
    background-color: #37ce50;
  }
  
  .event-info-text {
    width: 60%;
    height: 50%;
    float: left;
  }
  
  .modal-open {
    transition: 0.2s ease;
    overflow: hidden; /* prevent scrolling while modal is open 
    background-color: rgba(255, 255, 255, 01) ; 
  }
  
  .event-info-stats {
    width: 35%;
    height: 50%;
    float: right;
  }
  
  .event-stats-numbers {
    color:#379f48;
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
  }
*/
/* NOVO */

.event {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.eventContent {
  width: 70%;
  min-width: 1000px;
  height: 60%;
  min-height: 600px;
  background-color: white;
  padding: 20px;
  border: 2px solid #379f48;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;
}

.eventContent h2 {
  width: 100%;
  height: 120px;
  text-align: left;
  font-size: 2.5em;
  margin-top: 50px;
  margin-bottom: 10px;
}

.eventContent h3 {
  width: 100%;
  height: 70px;
  text-align: left;
  font-size: 1.8em;
}

.eventContent p {
  width: 90%;
  height: 70px;
  text-align: left;
  font-size: 1em;
  margin: 5px auto auto 0px;
  clear: both;
}

.eventSideInfo {
  width: 20%;
  float: left;
  margin: 50px;
  margin-right: 10px;
  text-align: left;
}

.eventSideInfo h4 {
  margin-top: 0;
  text-align: left;
}

.eventHeader {
  width: 60%;
  float: left;
}

.closeButton {
  float: left;
  margin: 50px 10px 50px 10px;
  border: 1px solid #379f48;
  border-radius: 5px;
  background-color: #379f48;
  color: white;
  width: 10%;
  height: 5%;
  min-width: 50px;
  min-height: 30px;
}

/*Event Bubble*/

.eventButton button {
  width: 30%;
  min-width: 600px;
  height: 18%;
  min-height: 300px;
  padding: 0;
  margin: 50px 0 0 0;
  border-radius: 10px;
  border: 2px solid #379f48;
  transition: 0.2s ease-in-out;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .eventButton button:hover {
    background-color: rgba(0, 255, 0, 0.1);
    width: 30.5%;
  }

  .eventBubble {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
  }

  .eventBubbleHeader {
    background-color: rgba(20, 255, 0, 0.07);
    width: 100%;
    height: 90px;
    position: relative;
  }

  .eventBubbleHeader h2 {
    text-align: left;
    font-size: 2em;
    width: 60%;
    height: 40px;
    margin: 20px 20px 20px 20px;
  }

  .eventMiddle {
    width: 100%;
  }

  .eventBubble h3 {
    float: left;
    text-align: left;
    font-size: 1.6em;
    width: 60%;
    height: 60px;
    margin: 10px 10px 10px 20px;
  }
  .eventBubble h4 {
    float: left;
    font-size: 1.4;
    width: 30%;
    height: 60px;
    margin: 18px 20px 10px 0px;
    text-align: center;
    font-weight: normal;
  }

  .eventBubble p {
    text-align: left;
    font-size: 1em;
    width: 90%;
    height: 40%;
    min-height: 100px;
    margin: 10px auto 10px 20px;
    padding-bottom: 10px;
  }
}




.event--preview button {
  width: 300px;
  padding: 0;
  border-radius: 10px;
  border: 2px solid #379f48;
  transition: 0.2s ease-in-out;
  font-size: 16px;

  .event--preview button:hover {
    background-color: rgba(0, 255, 0, 0.1);
    width: 30.5%;
  }

  .eventBubble {
    
  }

  .eventBubbleHeader {
    background-color: rgba(20, 255, 0, 0.07);
  }

  .eventBubbleHeader h2 {
    text-align: left;
  }

  .eventMiddle {
  }

  .eventBubble h3 {

  }

  .eventBubble h4 {
    
  }

  .eventBubble p {
    
  }
}
