.filter-content {
    width:100vw;
    height:200px;
    background-color: white;
    grid-column-start: span 2;
}

@media (max-width:1100px) {
    .filter-content {
        grid-column-start: span 1;
    }
}