.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1000px;
  text-align: left;
}

.front-windows {
  background-color: #edffed;
  min-height: 600px;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 1000px;
  padding: 0 10%;
  margin: 0 auto;

  h1 {
    max-width: 600px;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    margin: 104px 0 32px;
  }
  p {
    max-width: 480px;
    font-weight: 300;
    line-height: 21px;
    font-size: 18px;
  }
}

.photo {
  transform: scale(1);
  position: absolute;
  top: 394px;
  right: -200px;
}

.event-buttons {
  margin: 36px 0;
}

.link-btn {
  text-align: center;
  width: 180px;
  height: 56px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 50px;
  border: none;
  margin: 0 56px 20px 0;
  float: left;
  transition: 0.4s ease;
  user-select: none;
  line-height: 55px;
  text-decoration: none;
}

.link-btn.green-btn {
  background: var(--greenBtn);
  color: #fff;
  border: 2px solid #379f48;
}
.link-btn.green-btn:hover {
  transition: 0.4s ease;
  background-color: var(--hoverGreen);
  border-color: var(--hoverGreen);
}

.link-btn.regular-btn {
  border: 2px solid #379f48;
  color: #379f48;
}

.link-btn.regular-btn:hover {
  transition: 0.4s ease;
  background-color: var(--hoverGreen);
  border: 2px solid var(--hoverGreen);
  color: #fff;
  font-weight: bold;
}

.headings {
  display: flex;
  justify-content: center;
  margin: 104px 0;
}

.top-events {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 96px;
}

.about-easyAid {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .image-container {
    margin: 0;
    max-width: 636px;
    width: inherit;

    .photo1 {
      object-fit: contain;
      width: 100%;
      position: relative;
      height: unset;
    }
  }
}

.side-text {
  color: var(--gray);

  h4 {
    margin: 0 0 24px;
  }

  p {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 24px;
  }

  .green-btn {
    margin: 0;
  }
}

.about-organisation {
  display: flex;
  justify-content: space-between;
  margin: 0 0 104px;
  max-width: 1000px;

  .image-container2 {
    position: relative;
    max-width: 400px;
    width: fit-content;
  }

  .photo2 {
    width: 100%;
  }
}

.partneri {
  margin: 0 0 208px 0;

  .sponsor-images {
    display: flex;
    justify-content: space-between;

    .sponsor-logo {
      height: 180px;
      width: 180px;
      object-fit: contain;
      position: relative;
      aspect-ratio: 1;
      margin: 16px 10px;

      .sponsor {
        aspect-ratio: 1;
        width: 100%;
        height: unset;
        border-radius: 100%;
      }
    }
  }
}

.link {
  text-decoration: none;
  color: #4d4d4d;
}

@media (min-width: 1120px) {
  .top-events {
    justify-content: space-between;
  }

  .event-left {
    margin: 0 10px 0 0;
  }
  /*
  .event-middle {
    margin: 0 10px;
  }
  */
  .event-right {
    margin: 0 0 0 10px;
  }
  .about-easyAid {
    .side-text {
      padding-left: 20px;
    }
  }
  .side-text {
    color: var(--gray);
    max-width: 280px;
    width: fit-content;

    h4 {
      margin: 0 0 24px;
    }

    p {
      font-size: 14px;
      line-height: 150%;
      margin: 0 0 24px;
    }

    .green-btn {
      margin: 0;
    }
  }
}

@media (min-width: 800px) and (max-width: 1120px) {
  .container {
    margin-top: 136px;
  }
  .top-events {
    flex-direction: column;
  }
  .events {
    margin: 32px auto;
  }
  .about-easyAid {
    .side-text {
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 0;
  }
  .top-events {
    flex-direction: column;
  }
  .events {
    margin: 32px auto;
  }
  .photo {
    display: none;
  }

  .about-easyAid {
    flex-direction: column;
    .side-text {
      padding-top: 36px;
    }
  }
  .side-text {
    h4 {
      margin: 0 0 24px;
    }

    p {
      font-size: 14px;
      line-height: 150%;
      margin: 0 0 24px;
    }

    .green-btn {
      margin: 0;
    }
  }

  .about-organisation {
    flex-direction: column;
  }

  .sponsor-images {
    flex-direction: column;
    align-items: center;
  }

  .content {
    h1 {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }

}


@media  screen and (max-width:1024px){

  .photo {
    overflow:scroll
  }
}


@media (max-width:425px) {
  .content {
    h1 {
      font-size: 56px;
      line-height: 63px;
    }
  }

  .headings {
    margin:80px 0 80px 0;
  }

  .top-events {
    margin-bottom: 40px;
  }
}