.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  max-width: 1000px;
  text-align: left;
}

.front-windows {
  background-color: #edffed;
  min-height: 600px;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.content h1 {
  width: fit-content;
  max-width: 600px;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  margin: 104px 0 32px;
}

.content p {
  width: fit-content;
  max-width: 480px;
  font-weight: 300;
  line-height: 21px;
  font-size: 18px;
}

.photo {
  transform: scale(1);
  position: absolute;
  top: 394px;
  right: -200px;
}

.event-buttons {
  margin: 36px 0;
}

.link-btn {
  text-align: center;
  width: 180px;
  height: 56px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 50px;
  border: none;
  margin: 0 56px 20px 0;
  float: left;
  transition: 0.4s ease;
  user-select: none;
  line-height: 55px;
  text-decoration: none;
}

.link-btn.green-btn {
  background: var(--greenBtn);
  color: #fff;
  border: 2px solid #379f48;
}
.link-btn.green-btn:hover {
  transition: 0.4s ease;
  background-color: var(--hoverGreen);
  border-color: var(--hoverGreen);
}

.link-btn.regular-btn {
  border: 2px solid #379f48;
  color: #379f48;
}

.link-btn.regular-btn:hover {
  transition: 0.4s ease;
  background-color: var(--hoverGreen);
  border: 2px solid var(--hoverGreen);
  color: #fff;
  font-weight: bold;
}

.headings {
  display: flex;
  justify-content: center;
  margin: 104px 10px;
}

.top-events {
  display: flex;
  justify-content: space-between;
  margin: 0 0 208px;
}

.event-lijevi {
  margin: 0 10px 0 0;
}
.event-sredina {
  margin: 0 10px;
}
.event-desni {
  margin: 0 0 0 10px;
}

.about-easyAid {
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.image-container {
  margin: 0;
  width: 635px;

  .photo1 {
    object-fit: contain;
    width: 100%;
    position: relative;
    height: unset;
  }
}

.side-text {
  color: var(--gray);
  max-width: 280px;
  width: fit-content;
  margin: 0px;

  h4 {
    margin: 0 0 24px;
  }

  p {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 24px;
  }

  .green-btn {
    margin: 0;
  }
}

.about-organisation {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 104px;

  .image-container2 {
    position: relative;
    max-width: 400px;
    width: fit-content;
  }
}

.partneri {
  margin: 0 0 208px 0;

  hr {
    margin: 0 10px;
  }

  .sponsor-images {
    display: flex;
    justify-content: space-between;

    .sponsor-logo {
      height: 180px;
      width: 180px;
      object-fit: contain;
      position: relative;
      aspect-ratio: 1;
      margin: 0 10px;

      .sponsor {
        aspect-ratio: 1;
        width: 100%;
        height: unset;
        border-radius: 100%;
      }
    }
  }
}

@media (max-width: 1100px) {
  .top-events {
    flex-wrap: wrap;
  }
}

.link {
  text-decoration: none;
  color: #4d4d4d;
}
