.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 15px 30px;
  font-size: 24px;
  text-align: center;
  background-color: rgb(196, 255, 187);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative; /*Mozda bi moglo ic fixed ovisno o tom kak na se svida*/
  z-index: 10;
}

.navbar--navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* LOGO */

.logo--slika {
  width: fit-content;
  position: relative;
  margin: 0 30px;
}

/* GUMBI ZA PRIJAVU */

.navbar--auth {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 80px 0 0;
}

.btn--auth--reg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  border-radius: 30px;
  border: 2px solid #379f48;
  color: white;
  background-color: #379f48;
  transition: 0.4s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*Nisam siguran koliko shadow paše, mozda malo smanjiti*/
  user-select: none;
  line-height: 55px;
  text-decoration: none;
}

.btn--auth--login {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 40px;
}

/* NAVIGACIJA */

.btn--nav {
  color: #000;
  white-space: nowrap;
  text-decoration: none;
  margin: 0 30px;
  font-size: 18px;
  width: auto;
}
